:root {
  --background: #2600ff;
  --foreground: #ffffff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.imgDark {
  display: none;
}

.my-button {
  padding: 16px 20px;
  margin: 1px;
  background-color: blue;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  height: 60px;
  min-width: 150px;
  cursor: pointer;
  display: inline-grid;
  text-align: center;
}

.my-button:hover {
  background-color: darkblue;
}

.my-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}